<!--selector barra de navegación-->
<app-navbar></app-navbar>

<!--Mensaje de bienvenida-->
<div class="text-center bg-white text-danger">
    <br>
        <h3><b>¡Bienvenido!</b>
        <br>
            <b>"Ven y vive una experiencia que transportara tus sentidos"</b>
        </h3>       
    <br>
</div>

<!--selector carousel-->
<app-carousel></app-carousel>

<!--Imagenes de Relleno-->
<div class="container-fluid d-flex  justify-content-center">
    <img src="../assets/img/imagesf1.jpg" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 500px;">
    <img src="../assets/img/imagesf2.jpg" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 500px;">
</div>

<!--Mensaje al final-->
<div class="content bg-let text-center bg-white text-danger">    
    <br>
        <h3><b>Podrás disfrutar de nuestros deliciosos platos y el mejor ambiente para tus encuentros...</b>
        </h3>
    <br>
</div>

<!--selector footer-->
<app-footer></app-footer>
