<app-navbar></app-navbar>
  
  <div>
  
    <div class="contenedor">
      <img src="https://img.lalr.co/cms/2020/11/13163747/Parrilla-6.jpeg" width="1370px" height="400px" alt="">
      <div class="container">
        <div class="text-white">
          <div class="centrado">
            <h1>Quienes Somos</h1>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" style="text-align: center; height: 200px; color: #980000; background-color: white;">
      <div class="col-md-12">
        <br>
  
        <h3>¡Sello y Sabor Colombiano! <br>
          Buscamos satisfacer el paladar de nuestros clientes, ofreciendo platos elaborados
          con los más altos estándares de calidad con un excelente servicio, atención al detalle, oportuno y lo mejor de
          todo con sello y sabor colombiano. </h3>
      </div>
    </div>
  
    <body
      background="https://st4.depositphotos.com/1105977/21834/i/600/depositphotos_218346288-stock-photo-fire-sparks-particles-with-flames.jpg"
      class="cover" alt="">
      
  <br>
  
      <div class="flex-wrap d-flex justify-content-center text-white">
        <div class="row">
          <div class="col">
              <img src="../../../assets/img/cindy.jfif" alt="" width="300px" height="200px">
              <strong><p>Cindy Martinez <br>
                Scrum Master & Developer</p></strong>
            </div>
          </div>
        </div>
  
        <br>
        <br>
  
  
   
      <div class="row justify-content-around">
        <div class="col-4 text-white">
          <img src="../../../assets/img/liliana.jfif" alt="" width="300px" height="200px">
          <strong><p>Liliana Rodriguez <br>
          Product Owner & Developer</p></strong>
        </div>
        <div class="col-4 text-white">
          <img src="../../../assets/img/melba.jfif" alt="" width="300px" height="200px">
          <strong><p>Melba Caicedo <br>
            Developer</p></strong>
        </div>
    </div>
  
    <br>
    <br>
        
  
      <div class="row justify-content-around">
        <div class="col-4 text-white">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHRFofnHU_0Jg/profile-displayphoto-shrink_200_200/0/1518180901791?e=1625702400&v=beta&t=kEed7J8XU5WHRBfM9CBrdH8ljXYa5g-FmbsYpiHPSgw" alt="" width="300px" height="200px">
          <strong><p>Ginna M. Cisneros <br>
            Developer</p></strong>
        </div>
        <div class="col-4 text-white">
          <img src="../../../assets/img/dani.jfif" alt="" width="300px" height="200px">
          <strong><p>Daniela Mayorga Pasco <br>
            Developer</p></strong>
        </div>