<app-navbar *ngIf="IS_ADMIN !== '/admin'"></app-navbar>
<div class="card-header">
  <div class="text-center text-danger">
    <h3>Aperitivos</h3>
  </div>
  <div class="container-fluid d-flex flex-wrap justify-content-center">
    <!-- <p *ngFor="let menu of menuService.menu">{{menu.brand}}</p> -->
    <div *ngFor="let aperitivo of menuService.aperitivo">
      <div class="card m-3" style="width: 18rem">
        <img
          width="300px"
          height="200px"
          src="{{ aperitivo.imagen }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ aperitivo.nombre }}</h5>
          <p class="card-text">{{ aperitivo.descripcion }}</p>
          <h4 class="card-text">{{ aperitivo.precio }}</h4>
          <button *ngIf="IS_ADMIN !== '/admin'" (click)="proximamente()" class="btn btn-danger">Ordenar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex flex-wrap justify-content-center">
    <app-menu2></app-menu2>
  </div>
  <div class="container-fluid d-flex flex-wrap justify-content-center">
    <app-menu3></app-menu3>
  </div>
  <div class="container-fluid d-flex flex-wrap justify-content-center">
    <app-menu4></app-menu4>
  </div>
</div>
