<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  
  <!--Icono mas nombre del restaurante-->
  <img class="icon ml-5" src="..//assets/img/Icon.png" style="width: 50px;"> 
  <h5><a class="text-light">Carbón & Leña </a></h5>

    <!--Menú navegable-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" href="#">Inicio</a>
        <a class="nav-link" href="#">Menú</a>
        <a class="nav-link" href="#">Reservas</a>
        <a class="nav-link" href="#">Quiénes Somos</a>       
      </div>
    </div>

</nav>
