<div class="card">

    <!--emcabezado footer-->
    <div class="card-header bg-dark">
        <h2 class="card-title text-center text-light">Deléitate ¡Te va a encantar!</h2>
    </div>

    <!--cuerpo footer-->
    <div class="card-body text-center">
        <h4 class="...">Síguenos en</h4>
        <a target="_blank" href="https://www.instagram.com/">
            <img src="../assets/img/instagram.png" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 40px;" type="button">
        </a>
        <a target="_blank" href="https://www.facebook.com/">
            <img src="../assets/img/facebook.png" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 40px;" type="button"> 
        </a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=573008540917&text=Hola,%20deseo%20pedir%20un%20domicilio">
            <img src="../assets/img/whatsapp.png" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 40px;" type="button">  
        </a>
    </div>

    <!--fin footer-->
    <div class="card-footer text-center">
        <img src="../assets/img/logo.png" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 70px;">
        © Copyright 2021 Carbón & Leña. Todos los derechos reservados
    </div>

</div>